@charset "utf-8";
/* CSS Document */

*{margin:0;padding:0;font-size:12px;font-family:"微软雅黑";}
ul,li,ol{list-style-type:none;}
a{text-decoration:none;}
img{border:none;}
body{background:url(../images/hy_cj_bg.jpg) no-repeat top center;background-color:#cc0078;}
body a{outline:none;blr:expression(this.onFocus=this.blur());}
.top,.button,h4,ul.gzText{width:980px;}
.blank30{height:30px;}
.fl{float:left;}
.fr{float:right;}
.of{overflow:hidden;}
.mar{margin:0 auto;}
.clearfix:after {content:"."; display:block; height:0; clear:both; visibility:hidden; }.clearfix {display:block;}
.clear{ clear:both;}
.warp_top{width:100%;height:92px;background:url(../images/hy_cj_topBg.png) repeat-x;}

.top{width:980px;position:relative;z-index:99;}
.hy_cj_logo{width:196px;height:55px;margin-top:20px;}
.nav{width:460px;margin:36px 0 0 16px;display:inline;}
.enter,.nav li a,.enter a,#btn_register,h4,ul.gzText li,.lottery_list p span{color:#fff;}
.enter{width:200px;font-weight:bold;margin-top:36px;}
.nav li{float:left;width:92px;text-align:center;}
.nav li a,.enter a,ul.gzText li span{font-size:15px;}
.nav li a:hover,.enter a:hover{text-decoration:underline;}
.enter a{font-weight:500;}
.button{margin-top:1000px;}
#btn_register{display:block;width:297px;height:52px;border:0;padding-left:20px;background:url(../images/hy_cj_zcBtn01.png) no-repeat;font-size:26px;cursor:pointer;star:expression(this.onFocus=this.blur());}
h4{font-size:28px;font-weight:bold;}
ul.gzText{background:#fa8a03;padding:15px; margin-top:20px;}
ul.gzText li{line-height:32px;font-size:15px;clear:both;}
ul.gzText li span.num{display:block;float:left;width:20px;height:20px;margin-right:10px;}
ul.gzText li em{list-style-type:none;font-size:15px;color:#000;font-weight:bold;}

/*转盘抽奖样式*/
.lottery{position:relative;width:980px;height:573px;margin:40px auto;}
.lottery-wheel{width:539px;height:539px;position:absolute;z-index:9999;}
.ly-plate{width:539px;height:539px;}
.rotate-bg{width:539px;height:539px;background:url(../images/ly-plate.png) no-repeat;}
.ly-plate div.lottery-star{cursor:pointer;width: 255px;height: 255px;position: absolute;top: 142px;left: 143px;outline: none;}
p.lotteryImg{cursor:pointer;position:absolute;left:192px;top:192px;width:156px;height:156px;background:url(../images/hy_jiang.png) no-repeat;padding:105px 0 0 25px;color:#fff100;font-size:14px;}
p.lotteryImg span{color:#FFF;font-size:12px;font-weight:bold;}
.lottery_right{width:590px;position:absolute;top: 30px;right:0;z-index:9;}
.lottery_right h3{height:58px;line-height:58px;font-size:18px;font-weight:bold;color:#dd549d;background:url(../images/hy_line.png) repeat-x;padding-left:328px;}

/*中奖名单*/
.listBox{width:590px;background:url(../images/hy_list_bg02.png) repeat;}
.list_warp{float:right;width:330px;height:300px;overflow:hidden;padding:15px 20px;background:#fa8a03;margin:0px 26px 20px 0;display:inline;}
.lottery_list p{clear:both;cursor:pointer;}
.lottery_list p span{display:block;float:left;font-size:14px;*margin-left:12px;display:inline;padding-left:5px;}
.lottery_list p{height:30px;line-height:30px; vertical-align:bottom;}
.lottery_list p span{font-size:12px;text-align:center;}
.title{overflow:hidden;width:330px;padding:15px 20px 10px 20px;*padding-left:30px;*width:320px;background:#fa8a03;text-align:right;float:right;margin-right:26px;display:inline;}
.title span{float:left;font-size:16px;color:#000;font-weight:bold;padding-left:5px;}
.title span.marLRT{margin:0 40px;}
.lottery_list p span.marLR{margin:0px 50px;display:inline;}












